<nav class="navbar">
	<div class="navbar__brand">
		<span class="brand__icon" aria-hidden="true"></span>
		<span class="brand__text">sport<span class="brand__accent">z</span></span>
	</div>

	<ul class="navbar__links">
		<li><a href="#">Home</a></li>
		<li><a href="#">Atletas</a></li>
		<li class="navbar__dropdown">
			<button type="button" aria-haspopup="true" aria-expanded="false">
				Comunidade
				<span class="caret" aria-hidden="true"></span>
			</button>
		</li>
	</ul>

	<div class="navbar__actions">
		<a class="btn btn--ghost" href="#">Entrar</a>
		<a class="btn btn--primary" href="#">Criar conta</a>
	</div>
</nav>
